<!doctype hddtml>
<head> 
  <meta charset="utf-8"> 
  <title>deposit files statistics</title> 
</head> 
<body> 
  <script src={{ url_for('static', filename='d3.v3.min.js') }} charset="utf-8"></script> 
  <script>
    {% if clients %}
    var width = 1000
    var height = 500
    var svg = d3.select("body").append("svg")
                .attr("width", width)
                .attr("height", height)
    var hostname = [
      {% for client in clients -%}
        {% if client.deposit_num > 5 %}
          "{{ client.host }}",
        {% endif %}
      {%- endfor %}
    ];
    console.log(hostname)
    var dataset= [
      {% for client in clients -%}
        {% if client.deposit_num > 5 %}
        {{ client.deposit_num }},
        {% endif %}
      {%- endfor %}
    ];
    console.log(dataset)
    var wx = d3.scale.linear()
               .domain([0,d3.max(dataset)])
               .range([0,900]);
    var axis = d3.svg.axis()
                 .scale(wx)
                 .orient("bottom");
    svg.selectAll("rect")
       .data(dataset)
       .enter()
       .append("rect")
       .attr("x",100)
       .attr("y", function(d,i){
                    return 10 + i * 30;
             })
       .attr("width", 0)
       .transition()
       .duration(3000)
       .attr("width", wx)
       .attr("height",28)
       .attr("fill","red")
       
    console.log(hostname)
    svg.selectAll("text")
       .data(hostname)
       .enter()
       .append("text")
       .attr("x",10)
       .attr("y", function(d,i){
                    return (i + 1) * 30;
             })
       .attr("text-anchor", "begin")
       .attr("font-size", 14)
       .attr("fill","black")
       .text(function(d,i){
               return d;
             });
    svg.append("g")
       .attr("class","axis")
       .attr("transform","translate(100,160)")
       .call(axis);
    {% endif %}
  </script>
</body> 
